# This name will show up in the GitHub "Actions" tab
name: CI/CD Pipeline for .NET URL Shortener

# This tells GitHub to run the pipeline on every push to the "main" branch
on:
  push:
    branches: [ "main" ]


env:
  DOCKER_IMAGE_NAME: testergood/urlproject 

# Define the jobs that will run
jobs:
  build-and-push:
    # Use the latest Ubuntu runner
    runs-on: ubuntu-latest
    
    steps:
      # 1. Check out the code from the repository
      - name: Check out code
        uses: actions/checkout@v4

      # 2. Setup .NET
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x' 
       
      
      - name: Run .NET Linter (Format Check)
        run: dotnet format --verify-no-changes

      
      # 3. Log in to Docker Hub
     
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }} 

      # 4. Build and push the Docker image
      
      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ env.DOCKER_IMAGE_NAME }}:latest

  deploy:
    
    needs: build-and-push
    runs-on: ubuntu-latest
    
    steps:
      #  Trigger the Render deploy hook
      - name: Deploy to Render
        run: curl "${{ secrets.RENDER_DEPLOY_HOOK }}"